{% extends 'adminbase.html' %} {% block content %}
<style type="text/css">
	#log {
		background-color: rgba(0, 150, 220, 0.5);
		margin: 10px 150px;
		padding: 50px;
		color: white;
		width: 1000px;
		float: left;
	}
	td,
	th {
		padding: 10px;
	}
	#tbl {
		width: 900px;
	}
	a {
		color: #ebd231;
	}
	table {
		border-collapse: collapse;
		border: none;
	}

	th {
		background-color: rgba(0, 100, 180, 0.7);
		color: #ebd231;
	}
	/*tr:nth-child(odd) {background-color: silver;}*/
</style>
<div style="margin: 100px">
	<form method="POST">
		{% csrf_token %}
		<h3 style="margin: 20px">Officers</h3>
		<table border="0" style="margin: 50px">
			<tr>
				<th>NAME</th>
				<th>CONTACT</th>
				<th>EMAIL</th>
				<th>ADDRESS</th>
				<th>DISTRICT</th>
				<th>PINCODE</th>
				<th colspan="2"></th>
			</tr>
			{% for d in data %}
			<tr>
				<td>{{d.name}}</td>
				<td>{{d.phone}}</td>
				<td>{{d.email}}</td>
				<td>{{d.address}}</td>
				<td>{{d.district}}</td>
				<td>{{d.pin}}</td>
				</td>
				{% if d.user.is_active == 0 %}
				<td><a href="/updateuser?id={{d.user.id}}&status=1">Approve</a></td>
				<td><a href="/updateuser?id={{d.user.id}}&status=-1">Reject</a></td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>
	</form>
</div>
{% endblock %}
