{% extends 'officerbase.html' %}
{% block content %}
<style>
    td,th{
        padding: 10px;
    }
</style>
<div style="margin: 100px;">
    <form method="POST">
        {% csrf_token %}
        <h3 style="margin: 20px;">Welcome Back</h3>
        <table>
            {% for i in data %}
            <tr>
                <td rowspan="8">
                   
                    <!-- <input id="pac-input" class="controls" type="text" placeholder="Search Box"> -->
                
                     <div id="map"></div>
                     <!-- <input onclick="deleteMarkers();" type=button value="Refresh location"> -->
                </td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input type="text" class="form-control" value="{{i.1}}" name="txtName" pattern="[a-zA-Z ]+" required /></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><textarea class="form-control" name="txtAddress" required >{{i.2}}</textarea></td>
            </tr>
            <tr>
                <td>District</td>
                <td><select name="dist" class="form-control">
                    <option>Thiruvananthapuram</option>
                    <option>Kollam</option>
                    <option>Pathanamthitta</option>
                    <option>Alappuzha</option>
                    <option>Idukki</option>
                    <option>Kottayam</option>
                    <option>Ernakulam</option>
                    <option>Thrissur</option>
                    <option>Palakkad</option>
                    <option>Malappuram</option>
                    <option>Kozhikod</option>
                    <option>Wayanad</option>
                    <option>Kannur</option>
                    <option>Kasargod</option>
                    </select>
                </select></td>
            </tr>
            <tr>
                <td>Contact</td>
                <td><input type="text" class="form-control" value="{{i.4}}" name="txtContact" pattern="[6789][0-9]{9}" required /></td>
            </tr>
            <tr>
                <td>License no</td>
                <td><input type="text" class="form-control" value="{{i.5}}" name="txtLicense" required /></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="email" class="form-control" value="{{i.6}}" readonly name="txtEmail" required /></td>
            </tr>
            
            <tr>
                <td></td>
                <td><input type="submit" class="btn btn-primary" value="Update" name="btnSubmit" required /></td>
            </tr>
            <input type="text" id="l1" style="visibility: hidden;" value="{{i.7}}" required name="l1">
        <input type="text" id="l2" style="visibility: hidden;" value="{{i.8}}" required name="l2">
        {% endfor %}
        </table>
        
    </form>
</div>
<script>
    var msg="{{msg}}";
    if(msg!="")
        alert(msg);
    
               
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
   
    // This example adds a search box to a map, using the Google Place Autocomplete
                     // feature. People can enter geographical searches. The search box will return a
                     // pick list containing a mix of places and predicted search terms.
            
                     // This example requires the Places library. Include the libraries=places
                     // parameter when you first load the API. For example:
                     // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
            
                        function initAutocomplete() {
                            debugger;
                         var map = new google.maps.Map(document.getElementById('map'), {
                             center: { lat: JSON.parse("{{lat}}"), lng: JSON.parse("{{lng}}") },
                             zoom: 13,
                             mapTypeId: 'roadmap'
                         });
                         
            new google.maps.Marker({
    position: { lat: JSON.parse("{{lat}}"), lng: JSON.parse("{{lng}}")},
    map,
  title:"Destination" ,
  
  });
                         
            
            
                         // Create the search box and link it to the UI element.
                         var input = document.getElementById('pac-input');
                         var searchBox = new google.maps.places.SearchBox(input);
                         map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);
            
                         // Bias the SearchBox results towards current map's viewport.
                         map.addListener('bounds_changed', function () {
                             searchBox.setBounds(map.getBounds());
                         });
            
                         var markers = [];
                         // Listen for the event fired when the user selects a prediction and retrieve
                         // more details for that place.
                         searchBox.addListener('places_changed', function () {
                             var places = searchBox.getPlaces();
            
                             if (places.length == 0) {
                                 return;
                             }
            
                             // Clear out the old markers.
                            
                             markers.forEach(function (marker) {
                                debugger;
                                 marker.setMap(null);
                                 
                                
                             });
                             markers = [];
             

                             // For each place, get the icon, name and location.
                             var bounds = new google.maps.LatLngBounds();
                             places.forEach(function (place) {
                                 if (!place.geometry) {
                                     console.log("Returned place contains no geometry");
                                     return;
                                 }
                                 var icon = {
                                     url: place.icon,
                                     size: new google.maps.Size(71, 71),
                                     origin: new google.maps.Point(0, 0),
                                     anchor: new google.maps.Point(17, 34),
                                     scaledSize: new google.maps.Size(25, 25)
                                 };
            
                                 // Create a marker for each place.
                                 markers.push(new google.maps.Marker({
                                     map: map,
                                     icon: icon,
                                     title: place.name,
                                     position: place.geometry.location
                                 }));
            
                                 if (place.geometry.viewport) {
                                     // Only geocodes have viewport.
                                     bounds.union(place.geometry.viewport);
                                 } else {
                                     bounds.extend(place.geometry.location);
                                 }
                             });
                             map.fitBounds(bounds);
                         });
                     }
            
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRhhnbNUXPX9_JYKnroSAex2-1KFaSmwQ&libraries=places&callback=initAutocomplete"></script>

<style>
    td,th{
        padding: 5px;
    }
    /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
         #map {
          height: 400px;
          width:500px;
          border-style:groove;
          border-width:thick;
          /*margin-left:300px;
          margin-top:30px;
          margin-bottom:30px;*/
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #description {
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
        }
  
        #infowindow-content .title {
          font-weight: bold;
        }
  
        #infowindow-content {
          display: none;
        }
  
        #map #infowindow-content {
          display: inline;
        }
  
        .pac-card {
          margin: 10px 10px 0 0;
          border-radius: 2px 0 0 2px;
          box-sizing: border-box;
          -moz-box-sizing: border-box;
          outline: none;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          background-color: #fff;
          font-family: Roboto;
        }
  
        #pac-container {
          padding-bottom: 12px;
          margin-right: 12px;
        }
  
        .pac-controls {
          display: inline-block;
          padding: 5px 11px;
        }
  
        .pac-controls label {
          font-family: Roboto;
          font-size: 13px;
          font-weight: 300;
        }
  
        #pac-input {
          background-color: #fff;
          font-family: Roboto;
          font-size: 15px;
          font-weight: 300;
          margin-left: 12px;
          padding: 0 11px 0 13px;
          text-overflow: ellipsis;
          width: 400px;
        }
  
        #pac-input:focus {
          border-color: #4d90fe;
        }
  
        #title {
          color: #fff;
          background-color: #4d90fe;
          font-size: 25px;
          font-weight: 500;
          padding: 6px 12px;
        }
        #target {
          width: 345px;
        }
</style>
{% endblock %}